main {
    background-color: #BED7BC;
    justify-content: top;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #14281D;
    flex-grow: 1;
}

#monthly,
#annual {
    border-radius: 5rem;
    width: 10rem;
    align-self: center;
    justify-self: end;
}

#monthly a,
#annual a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--claro);

}

#monthly {
    background-color: #74AC72;
    margin-right: 0.5 rem;
}

#annual {
    background-color: #355834;
    margin-right: 2rem;
}

#calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;

}


.days {
    display: flex;
    justify-content: space-between;
    margin: 0rem 2rem 0rem 2rem;
    color: #14281D;
}

.days h2 {
    align-self: center;
}


.month {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.month h3 {
    text-align: center;
    font-size: 1.3rem;
}

.week {
    display: flex;
    background-color: #74AC72;
    border-radius: 1rem;
    align-items: center;
}

.week p {
    color: var(--claro);
    width: calc((100% / 7) - 0.5rem);
    min-height: 2rem;
    text-align: center;
    flex-grow: 1;
    align-content: center;
    font-size: 1.5rem;
}

.calender_days {
    display: flex;
    flex-direction: column;
}

.line_days {
    display: flex;
}

.line_days p {
    border: #14281D solid 0.2rem;
    border-radius: 1rem;
    width: calc((100% / 7) - 0.5rem);
    aspect-ratio: 1 / 1;
    margin-top: 0.5rem;
}

.line_days p:not(:last-child) {
    margin-right: 0.5rem;
}

.legend {
    display: flex;
    margin: 0rem 2rem 2rem 2rem;
    align-self: center;
}

.legend p:not(:last-child) {
    margin-right: 0.5rem;
}

.legend p:nth-child(odd) {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.legend p:nth-child(1) {
    background-color: #E76F51;
}

.legend p:nth-child(3) {
    background-color: #F4A261;
}

.legend p:nth-child(5) {
    background-color: #E9C46A;
}

.legend p:nth-child(7) {
    background-color: #2A9D8F;
}

.legend p:nth-child(9) {
    background-color: #264653;
}

.legend p:nth-child(even) {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem;
}

.task_background {
    background-color: rgba(53, 88, 52, 0.22);
    margin: 1rem 2rem;
    height: 3rem;
    border-radius: 2rem;
}

.task {
    display: flex;
    width: 70%;
    height: 100%;
    background-color: #2A9D8F;

}












/*
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-justify: center;
    */