main{
    background-color: #74AC72;
    justify-content: top;
    display: flex;
    flex-direction: column;
}

header, #sort, #add{
    color: var(--claro);
}

.days{
    display: flex;
    justify-content: space-between;
    margin: 0rem 2rem 0rem 2rem;
    color: #14281D;
}

.days button{
    color: #14281D;
}

.completed{
    border-radius: 1rem;
    margin: 1rem 2rem 1rem 2rem;
    background-color: rgba(53, 88, 52, 0.53);
}

.completed_tab{
    display: flex;
    border-radius: 1rem;
    min-height: 3.5rem;
    color: var(--claro);
    align-items: center;
    background-color: #355834;
}

.completed_tab button {
    color: var(--claro);
    margin-left: 2rem;
    margin-right: 1rem;   
}

.completed_tab h2{
    flex-grow: 1;
}

.completed_tab p:last-of-type {
   margin-right: 2rem; 
}

.completed_extended{
    margin: 1rem 2rem 1rem 2rem;
    height: 2.5rem;
    display: flex;
    
    
   
}

.completed_extended label{
    text-decoration: line-through;
    color: var(--claro);
    margin-left: 1rem;
    height: 2.5rem;
    align-content: center;

}

.done_tasks{
    appearance: none;
    border: 0.3rem solid;
    border-radius: 0.7rem;
    border-color: var(--claro);
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.done_tasks:checked::before {
    content: "✔";
    font-size: 1rem;
    display: flex;
    
    color: white;
}

.task_list{
    margin: 1rem 2rem 1rem 2rem;
    flex-grow: 1;

}

.tasks{
    background-color: #C3D5C8;
    border-radius: 1rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
}

.not_done_task{
    appearance: none;
    border: 0.3rem solid;
    border-radius: 0.7rem;
    border-color: var(--escuro);
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.time{
    font-size: 1.5rem;
}

.task_name{
    flex-grow: 1;
    margin-left: 1rem;
}

.task_icons{
    display: flex;

}
.task_icons span {
    margin-right: 1rem;
}

.first_task{
    display: none;
    /* display: flex; */
    color: var(--claro);
    align-items: center;
    justify-content: center;
}

.first_task span {
    font-size: 7rem;
}

.first_task h2{
    font-size: 2.5rem;
    max-width: 15rem;
}

#routine_menu{
    border-top: #14281D solid 0.5rem;
}

/*
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-justify: center;
*/