html{
    font-size: 10px;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    
    font-size: 2rem;
    font-family: "League Spartan", serif;
    font-weight: normal;
    
}

:root{
    --branco: #FFFFFF;
    --preto: #14281D;
    --claro: #E8EAED;

    --verdeEsmeralda: #29513B;
    --verdeAgua: #A0CFB5;
    --verdePrincipal: #74AC72;
    --verdeFolha: #355834;
    --verdeOlivaClaro: #80B47E;

    --azulEscuro: #264653;
    --azulClaro: #2A9D8F;
    --amarelo: #E9C46A;
    --laranja: #F4A261;
    --vermelho: #E76F51;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    
}

h1{
    font-size: 3rem;
    margin: 4rem 2rem 3rem 2rem;
}

main {
    width: 430px;
    display: flex;
    flex-direction: column;
}

.box{
    border-radius: 1rem;
    height: 3.2rem;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem 1rem 0rem 1rem ;
}

button{
    cursor: pointer;
    background-color: transparent;
}

.button{
    border-radius: 1rem;
    height: 3.2rem;
    width: 13rem;
    margin: 1rem 0rem 1rem 0rem;
    
}

header{
    display: flex;
}

header h1{
    width: 15rem;
}

.icons{
    text-align: end;
    flex-grow: 1;
    margin: 4rem 2rem 3rem 2rem;
}

.icon span {
    font-size: 3rem;
}


.day_progress{
    background-color: #e7eee962 ;
    min-height: 1.5rem;
    display: flex;
}

#percent{
    font-size: 1rem;
    color: var(--claro);
    background-color: #264653;
    width: 70%;
    height: 100%;
    align-content: center;
    padding-left: 1rem ;
}

.menu{
    background-color: #F1F5F2;
    color: #14281D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9rem;
}

.menu_link span{
    font-size: 4rem;
    text-align: center;
    width: 8rem;
    margin-bottom: 0.5rem;
}

.iten_menu{
    height: 100%;
    align-content: center;
}

.iten_menu a{
    color: #14281D;
}

.menu_link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

